@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Funnel+Display:wght@300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Funnel Display", Arial, Helvetica, sans-serif;
}